# Default ignored files
/shelf/
/workspace.xml


# Compiled class file
*.class

# Log file
*.log.*
logs/*
*.log


# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ files and folders
*.iml
.idea/

# target folder
target/

